* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  color: black;
}

main {
  width: 100%;
  height: 100%;
}

.container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

h1 {
  padding-top: 20px;
  font-size: 2.5rem;
  user-select: none;
}

h2 {
  padding-top: 0.6rem;
  font-size: 1.8rem;
  color: #94c9a9;
}

.box {
  user-select: none;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;
}

h4 {
  font-size: 1.7rem;
  background-color: #94c9a9;
  color: #c6ecae;
  padding: 10px;
  border-radius: 10px;
}
.left,
.right {
  border-radius: 20px;
  padding: 1rem;
  padding-bottom: 0;
  background-color: #777da7;
  width: 250px;
  color: #c6ecae;
  text-transform: uppercase;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.351);
}

.animate {
  animation: rotateBounce 200ms 2; /* 3 times */
  display: inline-block; /* important */
}

@keyframes rotateBounce {
  0% {
    transform: scale(1) rotateZ(0deg) translateY(0);
  }

  50% {
    transform: scale(0.9) rotateZ(180deg) translateY(0px);
  }

  100% {
    transform: scale(1) rotateZ(360deg) translateY(0);
  }
}

.img-box {
  width: 100%;
}

.img-box img {
  margin-top: 1rem;
  width: 100%;
  position: relative;
  top: 4px;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
